<form id="review-form">
  <div class="form-group">
    Add a Review:
  <div>
  <div class="form-group">
    <label for="headline">Title</label>
    <input ng-model="review.headline" type="text" placeholder="Enter Title">
  </div>
  <div class="form-group">
    **RATING PLACEHOLDER**
  </div>
  <div class="form-group">
    <label for="headline">Review</label>
    <input ng-model="review.content" type="text" placeholder="Enter Review">
  </div>
  <div class="form-group">
    <button ng-click="addReview(review, towel.id)" type="button" class="btn btn-primary">Submit Review</button>
  </div>
</form>