<form id="review-form" class="col-lg-8 col-lg-offset-1">
  <div  class="form-group">
    <h4 id="add-review-headline">Add User Review</h4>
  <div>
  <alert type="danger" ng-show="reviewError">
    {{ reviewError }}
  </alert>
  <div class="form-group">
    <label for="headline">Name: </label>
    <input id="name" ng-model="review.name" type="text" placeholder="Enter Display Name">
    <button id="submit-button" type="button" ng-click="addReview(review, towel.id)" class="btn btn-primary">Submit Review</button>
  </div>
  <div class="form-group">
    
  </div>
  <div class="form-group">

    <label for="headline">Title: </label>
    <input id="title" ng-model="review.headline" type="text" placeholder="Enter Title">

    <label for="singleSelect"> Select Rating: </label>
    <select name="singleSelect" ng-model="review.rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>

  </div>
  </div>
  <div class="form-group">
    <textarea ng-model="review.content" type="text" id="review-input" placeholder="Enter Review Here">
  </div>
</form>