<form id="review-form">
  <div class="form-group">
    Add a Review:
  <div>
  <alert type="danger" ng-show="reviewError">
    {{ reviewError }}
  </alert>
  <div class="form-group">
    <label for="headline">Name</label>
    <input ng-model="review.name" type="text" placeholder="Enter Display Name">
  </div>
  <div class="form-group">
    <label for="headline">Title</label>
    <input ng-model="review.headline" type="text" placeholder="Enter Title">
  </div>
  <div class="form-group">

    <label for="singleSelect"> Select Rating: </label><br>
    <select name="singleSelect" ng-model="review.rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select></br>


  </div>
  </div>
  <div class="form-group">
    <label for="headline">Review</label>
    <input ng-model="review.content" type="text" placeholder="Enter Review">
  </div>
  <div class="form-group">
    <button ng-click="addReview(review, towel.id)" type="button" class="btn btn-primary">Submit Review</button>
  </div>
</form>