<div class="thumbnail" style="padding: 20px">
	<div class="row">
		<div class="row caption">
		<div class="col-md-12 col-lg-6">
			<a ui-sref="towel({towelId: theTowel.id})"><img src="/js/towel/towel_bruh.jpg" alt="Placeholder"></a>
		</div>
		<div class="col-md-12 col-lg-6">
			<h4><a ui-sref="towel({towelId: theTowel.id})">{{ theTowel.name }}</a></h4>
			<h4>{{ theTowel.price | currency }}</h4>
			<h6>Rating: <span ng-repeat="n in [1,2,3,4,5]" class="glyphicon glyphicon-tint"></span></h6>
		</div>
		</div>
		<div class="row caption">
		<div class="col-md-12">
			<p>{{ theTowel.description }}</p>
			<p><button type="button" class="btn btn-primary" ng-click="addToCart(theTowel)">Add To Cart</button></p>
		</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<!-- {{ theTowel.color }} {{ theTowel.material }} Towel -->