<div class="container">
  <div class="row">
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th></th>
          <th>Id</th>
          <th>Email</th>
          <th>isAdmin</th>
          <th>Delete</th>
          <th>Password Reset</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users">
          <th></th>
          <td>{{ user.id }}</td>
          <td>{{ user.email }}</td>
          <td>
            {{ user.isAdmin }}
            <button class="btn-primary" ng-show="{{ !user.isAdmin }}" ng-click="makeAdmin(user, user.id)">Make Admin</button>
          </td>
          <td>
            <button ng-show="{{ !user.isAdmin }}" class="btn-danger" ng-click="deleteUser(user.id)">Delete User</button>
          </td>
           <td>
            <button ng-show="{{ !user.isAdmin }}" class="btn-warning" ng-click="passwordReset(user, user.id)">Force Reset</button>
          </td>
          <th></th>
      </tbody>
    </table>
    </div>
  </div>
</div>