<div class="container-fluid">
	<div class="row">
		<div class="col-sm-offset-1 col-sm-11">
			<h1> {{ towel.name }} </h1>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-offset-1 col-sm-3">
			<div class="thumbnail"><img src="/js/towel/towel_bruh.jpg" alt="Placeholder"></div>
			<p>{{ towel.description }}</p>
			<h2>Price: {{ towel.price | currency }}</h2>
			<h4 style="margin-bottom: 20px; margin-top: 20px">Rating: <span ng-if="towel.rating" ng-repeat="n in genArr(towel.rating) track by $index" class="glyphicon glyphicon-tint"></span><span ng-if="!towel.rating">N/A</span></h4>
			<button type="button" class="btn btn-primary" ng-click="addToCart(towel)">Add To Cart</button>
			<br>
			<span></span>
			<br>
		</div>
		<div class="col-sm-7">
		<div class="panel panel-default">
			<div class="panel-heading">Features</div>
				<table class="table">
					<tr ng-repeat="prop in props" ng-if="towel[prop]">
						<td>{{ prop | properCase }}:</td><td>{{ towel[prop] | propFormat }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div>
	<addreview ng-show="Session.user"></addreview>
	<ui-view></ui-view>
</div>
<hr>
<div name='towelReviews' ng-repeat="review in reviews">
	<h6>{{ review.name }}</h6>
	<h5>{{ review.headline }} | {{ review.rating }} Star Rating </h5>
	<h6>Date: {{ review.date }}</h6>
	<div>
	<p>{{ review.content }}</p>
	</div>
<hr>
</div>